body{
    background-color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    font-family: sans-serif;
}

.btn{
    color: white;
    background: #005FA8;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 34px;
    margin: 5px;
    height: 15px;
    width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;

}